# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Maxim.Dzhezhelo1.KYIVSTAR.UA\development\ParallelProgramingInJavaPart2\miniproject_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
